[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=Kra2Png
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Kra2Png
Comment=Batch export all KRA files in a folder to PNG
